<% content_for :scripts do %>
   <script type="text/javascript" src="/js/build_unit.js"></script>   
<% end %>

<div id="options">
   <a href="/unit_list"><button id="done_button" type="submit">Done</button></a>
</div>
<div>
   <!-- list of ships that can be chosen -->
   <table>
   <thead>
      <tr>
         <td></td>
         <td>Model</td>
         <td>Cost</td>
         <td>Power</td>
         <td>Damage</td>
         <td>Charge</td>
         <td>Range</td>
      </tr>
   </thead>
   <tbody>
   <% turrets.each do |turret| %>
      <tr>
         <td>
            <span style="cursor: pointer;" id="<%= turret[:model]%>" class="turret_model" >
            <img src="/assets/images/<%= turret[:img] %>" />
            </span>
         </td>
         <td><%= turret[:model] %></td>
         <td><%= turret[:cost] %></td>
         <td><%= turret[:power] %></td>
         <td><%= turret[:damage] %></td>
         <td><%= turret[:charge] %></td>
         <td><%= turret[:range] %></td>
      </tr>
   <% end %>
   </tbody>
   </table>
</div>
<div id="unit">
   <% current_turrets.each do |turret| %>
     <p><%= turret[:model] %></p>
   <% end %>
</div>
