<div>
   <!-- list of ships that can be chosen -->
   <table>
   <thead>
      <tr>
          <td></td>
          <td>Model</td>
          <td>Cost</td>
          <td>Armor</td>
          <td>Shields</td>
          <td>Max Energy</td>
          <td>Recharge</td>
          <td># Turrets</td>
          <td>Speed</td>
          </tr>
   </thead>
   <tbody>
   <% ships.each do |ship| %>
      <tr>
         <td><img src="/assets/images/<%= ship[:img] %>"/></td><td><span style="cursor: pointer;" id="<%= ship[:model]%>" class="ship_model" value="<%= ship[:model] %>"><%= ship[:model] %></span></td>
         <td><%= ship[:cost] %></td>
         <td><%= ship[:max_armor] %></td>
         <td><%= ship[:max_shields] %></td>
         <td><%= ship[:max_energy] %></td>
         <td><%= ship[:recharge] %></td>
         <td><%= ship[:num_turrets] %></td>
         <td><%= ship[:speed] %></td>
      </tr>
   <% end %>
   </tbody>
   </table>
</div>
<div id="fleet">
   <% fleet.each do |ship| %>
      <p><a href="/build_unit/<%= ship[:shipid] %>"><%= ship[:shipid] %> <%= ship[:model] %></a></p>
   <% end %>
</div>
